@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  align-items: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  font-family: 'Zen Tokyo Zoo', cursive;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.App-logo {
  height: 32px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-size: 32px;
  color: white;
  filter: drop-shadow(0 0 0.1rem ghostwhite);
}

.App-link {
  color: #61dafb;
}

.reset {
  background: none;
  border: none;
}

.cell {
  border-radius: 3px;
  background-color: #101112;
  filter: drop-shadow(0 0 0.1rem black);
  height: 30px;
  margin: 2px;
  width: 30px;
}

.reset:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 0.5rem #4444dd);
}

.cell:hover{
  filter: drop-shadow(0 0 0.5rem #4444dd);
}

.open {
  align-items: center;
  border-radius: 3px;
  background-color: #282c34;
  color: crimson;
  display: flex;
  filter: drop-shadow(0 0 0.1rem crimson);
  font-size: 28px;
  justify-content: center;
  height: 30px;
  margin: 2px;
  padding-bottom: 7px;
  width: 30px;
}

.mine {
  border-radius: 3px;
  background-color: #7a0202;
  background-image: url("fired.svg");
  background-size: contain;
  filter: drop-shadow(0 0 0.1rem crimson);
  height: 30px;
  margin: 2px;
  width: 30px;
}

.target {
  border-radius: 3px;
  background-color: #101112;
  background-image: url("target.svg");
  background-size: contain;
  filter: drop-shadow(0 0 0.1rem crimson);
  height: 30px;
  margin: 2px;
  width: 30px;
}

.field {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 280px;
  justify-content: center;
  margin: 10px;
}

.status-bar {
  align-content: space-evenly;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.game-container {
  align-content: space-evenly;
  background-color: #282c34;
  border-radius: 10px;
  display: flex;
  filter: drop-shadow(0 0 0.75rem crimson);
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px;
  max-width: 400px;
  max-height: 450px;
  min-width: 400px;
  min-height: 450px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
